
<div id="form" class="container-sm">
  <div class="title">
    <h1 id="searchTitle">Fund Management Search</h1>
  </div>
  <form class="form-floating" (ngSubmit)="onSubmit()" #f = "ngForm">
    <select class="form-select-lg mb-3" aria-label="Default select example" name="info" [(ngModel)]="info">
      <option value="1">Fund Manager</option>
      <option value="2">Fund</option>

    </select>

    <button type="button" class="btn btn-light btn-lg" type="submit">Search</button>
  </form>
</div>

<app-manager *ngIf="managerTableOn" ></app-manager>
<app-funds *ngIf="!managerTableOn"></app-funds>
<!--<app-result-table></app-result-table>-->



