<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/citi_logo.png" width="40" class="d-inline-block mb-2 mr-4">
      &nbsp;&nbsp;Portolio Management
    </a>
    <!-- <a class="nav-link active" aria-current="page" href="#">Home</a>
    <a class="nav-link" href="#">                 </a>
    <a class="nav-link" href="#">Help</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
