<div class="container" *ngIf = "funds.length > 0">
  <h2 *ngIf="targetManager">Positions for {{targetManager.firstName}} {{targetManager.lastName}}</h2>
  <table class="table table-primary table-striped table-hover">
    <thead>
    <tr >
      <th scope="col">#</th>
      <th scope="col">Fund ID</th>
      <th scope="col">Name</th>
      <th scope="col">Size</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fund of funds let indexOfFund = index">
      <th scope="row">{{indexOfFund + 1}}</th>
      <td><a routerLink="/fund/{{fund.fundId}}">{{fund.fundId}}</a></td>
      <td>{{fund.name}}</td>
      <td>{{fund.size}}</td>

    </tr>
    </tbody>
  </table>
  <button (click)="goBack()" class="btn btn-outline-dark">go back</button>
</div>

<!--<app-positions [input] = ""></app-positions>-->
